* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -.5px;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 300;
  color: #282c3f
}

@font-face {
  font-family: ProximaNova;
  font-weight: 700;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNova;
  font-weight: 600;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNova;
  font-weight: 500;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNova;
  font-weight: 400;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNova;
  font-weight: 300;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNovaBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.eot");
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.eot?#iefix") format("embedded-opentype"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.ttf") format("truetype")
}

@font-face {
  font-family: AsapCondensedSemiBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.eot");
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.eot?#iefix") format("embedded-opentype"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.ttf") format("truetype"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.svg#AsapCondensedSemiBold") format("svg");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: ProximaNovaCondensedBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.eot");
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.eot?#iefix") format("embedded-opentype"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaBlack;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaCondensedBlack;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaCondensedRegular;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaExtraBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaExtraBold.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaLight;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaSemiBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaCondensedExtraBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.woff2") format("woff2"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.woff") format("woff"), url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.ttf") format("truetype");
  font-style: normal
}

.fonts-loaded {
  font-family: ProximaNova, arial, Helvetica, sans-serif;
  letter-spacing: 0
}

.header {
  padding: 15;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
}

.section-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.logo-container {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.current-location {
  display: flex;
  flex-direction: row;
}

.current-location>p {
  cursor: pointer;
}

.nav-items {
  width: 45%;
}

.nav-items>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-items>ul>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.nav-items>ul>li>p {
  margin-left: 5px;
  font-weight: 500;
}

.body-container {
  margin: 5rem 12% 3rem 12%;
}

.res-heading {
  margin: 20px 0px 20px 0px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.res-card {
  /* position: relative; */
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 260px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.res-card:hover {
  transform: scale(0.95);
}

.res-card-image-container {
  width: 260px;
  height: 170px;
  border-radius: 20px;
  overflow: hidden;
}

.res-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.res-card-details {
  margin: 1rem 1rem 0px 1rem;
  align-self: start;
}

.res-card-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.res-card-star-rating {
  width: 20px;
  height: 20px;
  background-color: #1A8D3E;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.res-card-cuisine,
.res-card-location {
  margin-top: 5px;
  font-size: medium;
  color: #686B78;
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.res-card-details h3 {
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filters-container {
  display: flex;
  margin: 10px 0px 10px 0px;
}

.btn-filter {
  padding: 12px;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-filter.active {
  background-color: #D9DADB;
  color: black;
  border-color: #36393E;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shimmer-card {
  margin: 20px 5px 0px 5px;
}

.shimmer-card>.shimmer-img {
  width: 260px;
  height: 170px;
  background: #ddd;
  border-radius: 20px;
}

.shimmer-card>.shimmer-bottom-details {
  width: 250px;
  margin: 10px 5px 0px 5px;
}

.shimmer-card>.shimmer-bottom-details>.shimmer-bottom-line {
  background: #ddd;
  border-radius: 20px;
  width: 100%;
  height: 12px;
  margin-bottom: 5px;
}

.shimmer-card>.shimmer-bottom-details>.shimmer-bottom-line.small {
  width: 20%;
}

.shimmer-card>.shimmer-bottom-details>.shimmer-bottom-line.medium {
  width: 40%;
}

.search-container {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 30px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.search-input {
  border: none;
  flex-grow: 1;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  margin-left: 5px;
  cursor: pointer;
}

.search-icon:hover {
  color: #FC8018;
}

.res-header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reset-link {
  text-decoration: none;
  color: inherit;
}

.menu {
  margin-left: 20%;
  margin-right: 20%;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0.5px solid #ccc;
}

.menu-res-details>div {
  margin-top: 10px;
}

.menu-res-details>div>p,
.menu-res-details>div>div>p {
  font-size: 12px;
  color: grey;
  margin-top: 5px;
}

.menu-res-details>div>div {
  display: flex;
  align-items: end;
}

.menu-rating-container {
  cursor: pointer;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  padding: 1px 5px 1px 5px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
}

.menu-rating {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px 0px 10px 0px;
  border-bottom: 0.5px solid #ccc;
}

.menu-rating>h4 {
  color: #1A8D3E;
}

.menu-total-rating>p {
  font-size: 10px;
  color: grey;
  padding: 10px 0px 10px 0px;
}

.menu-offers {
  margin: 10px 0px 10px 0px;
}

.menu-offers-header {
  display: flex;
}

.menu-offers-header-item {
  display: flex;
  padding: 10px;
  align-items: center;
}

.menu-offers-list {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  -ms-overflow-style: none;
  scrollbar-width: none
}

.menu-offers-list::-webkit-scrollbar {
  display: none;
}

.offer-container {
  max-width: 250px;
  margin: 10px 15px 10px 0px;
  display: flex;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
}

.offer-tag {
  padding: 5px;
  border-right: 0.5px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-tag>p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 0.65rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #E46D47;
}

.offer-details {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.offer-logo {
  width: 20px;
  margin-right: 10px;
}

.offer-header {
  display: flex;
  align-items: center;
  padding: 3px;
}

.offer-header>p {
  color: #686B78;
  font-weight: 600;
}

.offer-description {
  display: flex;
  padding: 3px;
}

.offer-description>p {
  font-size: 11px;
  font-weight: 600;
  margin-right: 5px;
  color: #92959F;
}

.accordion-container {
  margin: 20px 0px 20px 0px;
  border-bottom: 20px solid #F1F1F6;
}

.accordion-item {
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  border-bottom: 0.5px solid #ccc;
}

.menu-list>.accordion-container>.accordion-item>.accordion-title {
  font-weight: 600;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
}

.accordion-item-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  border-bottom: 0.5px solid #ccc;
}

.accordion-item-card:last-child {
  border-bottom: none;
}

.accordion-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-item-image {
  width: 120px;
  max-height: 120px;
  border-radius: 10px;
}

.btn-accordion {
  position: relative;
  cursor: pointer;
  padding: 6px;
  width: 100px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  color: green;
  background: #fff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
  margin-top: -10px;
}

.accordion-customisable {
  font-size: 10px;
  color: grey;
  font-weight: 600;
}

.accordion-title {
  font-weight: 500;
}

.accordion-desc {
  margin: 15px 0px 15px 0px;
  color: grey;
}

.accordion-bestseller {
  display: flex;
  color: #ED9C00;
  align-items: center;
}

.accordion-bestseller>p {
  margin-left: 5px;
}

.accordion-items-type {
  display: flex;
  align-items: center;
}

.food-item-type-image {
  width: 15px;
  height: 15px;
  margin: 10px 10px 10px 0px
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container>p {
  font-weight: 400;
  font-size: 16px;
  color: rgb(168, 166, 166);
  margin: 10px 0px 10px 0px
}

.error-img-container {
  margin: 20px 0px 20px 0px;
}

.error-img {
  width: 300px;
}

.btn-error {
  cursor: pointer;
  margin-top: 10px;
  padding: 15px 25px 15px 25px;
  color: #fff;
  background-color: #FC8018;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

.btn-error:hover {
  -webkit-box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.1);
}